<%- include ('partials/header')%>
    <%- include ('partials/navbar')%>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="/images/profile.png" alt="Profile picture" class="profile img-fluid">
            </div>
            <div class="col-md-8">
                <h1>About me</h1>
                <hr>
                <p>
                    I'm a software enthusiast, explorer, and developer with experience in Front-end development from Toronto,
                    Canada. I'm currently studying Software Engineering Technology @ Centennial College. I take an active interest
                    in learning and leveraging software, design, and business to solve real-world problems. I enjoy experimenting
                    with new and existing mediums to create my applications, artworks, and solutions.
                </p>
                <p>
                    I am constantly on the lookout for new opportunities! I have experience in front-end development through past
                    hackathons and projects. Feel free to reach out and shoot me an email, I'd love to hear what you have planned!
                </p>
                <div class="resume">
                    <a href="#" class="btn btn-dark" alt="My resume">Resume</a>
                </div>
            </div>
        </div>
    </div>
    <%- include ('partials/footer')%>

