<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <style>
    .footer{
        text-align: center;
           }
   </style>
</head>
<body>
   
</body>
<footer>
    <div class="footer">Copyright @ Aazain Ullah Khan | 301277063 | Web Application Development | COMP229</div>
   </footer>
</html>