<%- include ('partials/header')%>
    <%- include ('partials/navbar')%>
        <h1>
            <%= title %>
        </h1>
        <div class="container">
            <div class="row">
                <div class="card text-bg-light mx-2 ">
                    <div class="container-sm">
                        <img src="/images/project-1.png" class="project-img" alt="Project 1">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">ReactJS portfolio website</h5>
                        <p class="card-text">Web Development</p>
                        <a href="https://github.com/AazainKhan/aazainkhan.github.io" target="_blank"
                            class="btn btn-primary">GitHub</a>
                    </div>
                </div>
                <div class="card text-bg-light mx-2">
                    <div class="container-sm">
                        <img src="/images/project-2.png" class="project-img" alt="Project 2">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">La-Cucuracha smash game</h5>
                        <p class="card-text">Web Development</p>
                        <a href="https://github.com/AazainKhan/laCucuracha-game" target="_blank"
                            class="btn btn-primary">GitHub</a>
                    </div>
                </div>
            </div>
        </div>
        <%- include ('partials/footer')%>