<%- include ('partials/header')%>
    <%- include ('partials/navbar')%>
    <h1><%= title %></h1>
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Web Development</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia id optio provident autem, corrupti laborum rerum natus voluptatem ipsum? Vitae repellendus nisi quod. Repellat totam adipisci impedit obcaecati omnis aliquam.</p>
            </div>
            <div class="col">
                <h3>Problem-Solving</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum cum quibusdam accusamus consequuntur fugit, consequatur rerum voluptatem praesentium debitis dolorum dicta nobis explicabo repellat dolore molestiae. Saepe maxime soluta labore?</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>Experiment</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem voluptatem itaque, cumque amet quibusdam adipisci ipsa laudantium explicabo ratione dignissimos illum dolorum, illo culpa, eum doloremque saepe debitis omnis porro.</p>
            </div>
            <div class="col">
                <h3>Digital Art</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea nesciunt ab, eaque at corporis iusto id est eligendi quo dicta ratione ducimus ex, fugit expedita reiciendis veniam ipsa inventore animi.</p>
            </div>
        </div>
    </div>
<%- include ('partials/footer')%>